<link rel="stylesheet" href="/css/style2.css">

<body>
    <h1>Acceuil</h1>
    <h3>Un petit coup de nerf comme Mohamed Henni ? Un besoin de changer de TV  ?</h3>
    
    <video autoplay controls>
        <source src="/image/tv_casser.mp4" type="video/mp4">
        Votre navigateur ne supporte pas la balise vidéo.
    </video>

    <!-- Bouton pour aller vers la page de contenu -->
    <a href="/contenu">
        <button>Aller vers le site</button>
    </a>
</body>
</html>
